@blue-1: var(--ran-color-primary, #4096ff);
@green-1: var(--ran-color-success, #67cf22);
@gray-1: var(--ran-color-text, #333);

.ran-loading {
  .cube {
    width: var(--loading-cube-width, 2em);
    height: var(--loading-cube-width, 2em);
    position: var(--loading-cube-width, relative);
    .cube1 {
      background: var(--loading-cube1-background, @blue-1);
      width: var(--loading-cube1-width, 2em);
      height: var(--loading-cube1-height, 2em);
      position: var(--loading-cube1-position, absolute);
      top: var(--loading-cube1-top, 0);
      left: var(--loading-cube1-left, 0);
      animation: var(--loading-cube1-animation, ran-loading-cube 1.8s infinite ease-in-out);
      animation-play-state: var(--loading-cube1-animation-play-state, running);
    }
    .cube2 {
      background: var(--loading-cube2-background, @blue-1);
      width: var(--loading-cube2-width, 2em);
      height: var(--loading-cube2-height, 2em);
      position: var(--loading-cube2-position, absolute);
      top: var(--loading-cube2-top, 0);
      left: var(--loading-cube2-left, 0);
      animation: var(--loading-cube2-animation, ran-loading-cube 1.8s infinite ease-in-out);
      animation-delay: var(--loading-cube2-animation-delay, -0.9s);
      animation-play-state: var(--loading-cube2-animation-play-state, running);
    }
    @keyframes ran-loading-cube {
      25% {
        transform: var(--loading-cube-keyframes-25, translateX(42px) rotate(-90deg) scale(0.5));
      }
      50% {
        transform: var(--loading-cube-keyframes-50, translateX(42px) translateY(42px) rotate(-179deg));
      }
      50.1% {
        transform: var(--loading-cube-keyframes-501, translateX(42px) translateY(42px) rotate(-180deg));
      }
      75% {
        transform: var(--loading-cube-keyframes-75, translateX(0px) translateY(42px) rotate(-270deg) scale(0.5));
      }
      100% {
        transform: var(--loading-cube-keyframes-100, rotate(-360deg));
      }
    }
  }
}
