# common
node_modules
dist
.temp
.DS_Store
.eslintcache
package-lock.json
pnpm-lock.yaml
npminstall-debug.log
cache
# vite
vite.config.ts.timestamp*
config.ts.timestamp*
# ranui
/test-results/
/playwright-report/
/playwright/.cache/
report
