:host {
  display: var(--ran-icon-host-display, inline-flex);
}
:host([spin]) {
  animation-name: var(--ran-icon-host-spin-animation-name, rotate);
  animation-duration: var(--ran-icon-host-spin-animation-name, 1.4s);
  animation-timing-function: linear;
  animation-iteration-count: var(--ran-icon-host-spin-animation-name, infinite);
}
.ran-icon {
  display: var(--ran-icon-display, flex);
  align-items: var(--ran-icon-align-items, center);
  justify-content: var(--ran-icon-justify-content, center);
  color: var(--ran-icon-color, inherit);
  font-size: var(--ran-icon-font-size, 50px);
  margin: var(--ran-icon-margin, 0);
}
@keyframes rotate {
  to {
    transform: var(--ran-icon-keyframes-to-transform, rotate(360deg));
  }
}
