:host {
  display: inline-flex;
  .icon {
    display: inline-flex;
  }
}
:host([spin]){
    animation-name:rotate;
    animation-duration:1.4s;
    animation-timing-function:linear;
    animation-iteration-count:infinite;
}
@keyframes rotate{
    to{
        transform: rotate(360deg); 
    }
}
