@import 'tailwindcss';
@import './theme.scss';

html,
body {
  height: 100%;
}

a {
  color: unset;
}

input {
  outline: unset;
}

.no-scrollbar::-webkit-scrollbar {
  width: 0px;
  display: none;
}

h2 {
  font-size: 1.5rem;
}
