:root {
  --front-bg-color-1: #f4f5f7;
  --front-bg-color-2: #edeef0;
  --front-bg-color-3: #fff;
  --brand-blue-color-1: #1b88ee;
  --text-color-1: #212832;
  --text-color-2: #717882;
  --text-color-3: #858c96;
  --icon-color-1: #8c8c8c;
  --icon-color-2: #bfbfbf;
  --icon-color-3: #f4f5f7;
  --border-color-1: rgba(0, 0, 0, 0.1);
}

:root[theme='dark'] {
  --front-bg-color-1: #f4f5f7;
  --front-bg-color-2: #edeef0;
  --front-bg-color-3: #fff;
  --brand-blue-color-1: #1b88ee;
  --text-color-1: #212832;
  --text-color-2: #717882;
  --text-color-3: #858c96;
  --icon-color-1: #8c8c8c;
  --icon-color-2: #bfbfbf;
  --icon-color-3: #f4f5f7;
  --border-color-1: rgba(0, 0, 0, 0.1);
}

@theme {
  --color-front-bg-color-1: var(--front-bg-color-1);
  --color-front-bg-color-2: var(--front-bg-color-2);
  --color-front-bg-color-3: var(--front-bg-color-3);
  --color-brand-blue-color-1: var(--brand-blue-color-1);
  --color-text-color-1: var(--text-color-1);
  --color-text-color-2: var(--text-color-2);
  --color-text-color-3: var(--text-color-3);
  --color-icon-color-1: var(--icon-color-1);
  --color-icon-color-2: var(--icon-color-2);
  --color-icon-color-3: var(--icon-color-3);
  --color-border-color-1: var(--border-color-1);
}
