@import url('../../../base.less');

@keyframes ranui-select-dropdown-down-in {
  0% {
    transform: scaleY(0.8);
    transform-origin: 100% 100%;
    opacity: 0;
  }

  100% {
    transform: scaleY(1);
    transform-origin: 100% 100%;
    opacity: 1;
  }
}

@keyframes ranui-select-dropdown-down-out {
  0% {
    transform: scaleY(1);
    transform-origin: 100% 100%;
    opacity: 1;
  }

  100% {
    transform: scaleY(0.8);
    transform-origin: 100% 100%;
    opacity: 0;
  }
}

@keyframes ranui-select-dropdown-up-in {
  0% {
    transform: scaleY(0.8);
    transform-origin: 0% 0%;
    opacity: 0;
  }

  100% {
    transform: scaleY(1);
    transform-origin: 0% 0%;
    opacity: 1;
  }
}

@keyframes ranui-select-dropdown-up-out {
  0% {
    transform: scaleY(1);
    transform-origin: 0% 0%;
    opacity: 1;
  }

  100% {
    transform: scaleY(0.8);
    transform-origin: 0% 0%;
    opacity: 0;
  }
}

.animation(@animation, @animation-mode:forwards) {
  animation: @animation 0.2s;
  animation-fill-mode: @animation-mode;
}

.ran-select-dropdown-down-in {
  .animation(ranui-select-dropdown-up-in);
}
.ran-select-dropdown-down-out {
  .animation(ranui-select-dropdown-up-out);
}
.ran-select-dropdown-up-in {
  .animation(ranui-select-dropdown-down-in);
}
.ran-select-dropdown-up-out {
  .animation(ranui-select-dropdown-down-out);
}

.ranui-select-dropdown {
  transform-origin: var(--ran-x, 50%) var(--ran-y, 50%);
  box-sizing: border-box;
  margin: 0;
  padding: 4px;
  color: rgba(0, 0, 0, 0.88);
  font-size: 14px;
  list-style: none;
  font-family: @font-family;
  z-index: 1050;
  overflow: hidden;
  font-variant: initial;
  background: #ffffff;
  border-radius: 8px;
  outline: none;
  box-shadow: @box-shadow;
  cursor: pointer;
  width: 100%;
}
