.input {
  position: relative;
  display: flex;
  width: 100%;
  min-width: 0;
  padding: 2px 8px;
  color: #000000d9;
  font-size: 12px;
  line-height: 1.5715;
  background-color: #fff;
  background-image: none;
  border-width: 1px;
  border-style: solid;
  border-color: #d9d9d9;
  // border: 1px solid #d9d9d9;
  border-radius: 2px;
  transition: all 0.3s;
  &:active {
    border-color: #40a9ff;
    box-shadow: 0 0 0 2px rgba(24, 144, 255, 0.2);
    border-right-width: 1px;
    outline: 0;
  }
  &:hover {
    border-color: #40a9ff;
    border-right-width: 1px;
  }
  & > .input-main:hover ~ .input-label {
    color: #40a9ff;
  }
  &[value] > .input-label {
    transform: translateY(calc(-50% - 0.43em)) scale(0.8);
    color: #00000040;
  }
  &[status="error"]{
    border-color: #ff4d4f;
    & > .input-main:hover ~ .input-label {
      color: #ff4d4f;
    }
  }
  &[status="warning"]{
    border-color: #ff7875;
    & > .input-main:hover ~ .input-label {
      color: #ff7875;
    }
  }
  &[disabled] {
    color: #00000040;
    background-color: #f5f5f5;
    border-color: #d9d9d9;
    box-shadow: none;
    cursor: not-allowed;
    opacity: 1;
    & > .input-main {
      color: #00000040;
      background-color: #f5f5f5;
      border-color: #d9d9d9;
      box-shadow: none;
      cursor: not-allowed;
      opacity: 1;
    }
    & > .input-main:hover ~ .input-label {
      color: #999;
    }
    & > .input-label {
      color: #999;
      border-color: #d9d9d9;
      box-shadow: none;
      cursor: not-allowed;
    }
  }
  &-main {
    writing-mode: horizontal-tb;
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    text-align: start;
    -webkit-rtl-ordering: logical;
    cursor: text;
    touch-action: manipulation;
    -webkit-appearance: none;
    text-overflow: ellipsis;
    box-sizing: border-box;
    margin: 0;
    font-variant: tabular-nums;
    list-style: none;
    font-feature-settings: "tnum";
    position: relative;
    border: none;
    width: 100%;
    min-width: 0;
    color: #000000d9;
    font-size: 14px;
    line-height: 1.5715;
    background-color: #fff;
    background-image: none;
    transition: all 0.3s;
    &:focus,
    &:hover {
      border: none;
      outline: 0;
    }
    &::placeholder {
      color: #999;
    }
    &:placeholder-shown ~ .input-label {
      transform: translateY(calc(-50% - 0.43em)) scale(0.8);
    }
    &:focus ~ .input-label {
      transform: translateY(calc(-50% - 0.43em)) scale(0.8);
    }
  }
  &-label {
    pointer-events: none;
    position: absolute;
    font-size: 14px;
    left: 8px;
    transition: transform 0.3s, color 0.3s, background-color 0.3s;
    transform-origin: left;
    padding: 0 0.2em;
    color: #999;
    // background: #fff;
    backdrop-filter: blur(10px);
    opacity: 0.9;
  }
}
