.toast {
  max-width: 60%;
  min-width: 150px;
  padding: 5px 10px;
  min-height: 20px;
  color: rgb(255, 255, 255);
  line-height: 150%;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999999;
  background: rgba(0, 0, 0, 0.7);
  font-size: 14px;
  word-break: break-all;
}
.message {
  &-notice {
    padding: 8px;
    text-align: center;
    &-content {
      display: inline-block;
      padding: 10px 16px;
      background: #fff;
      border-radius: 2px;
      box-shadow: 0 3px 6px -4px #0000001f, 0 6px 16px #00000014,
        0 9px 28px 8px #0000000d;
      pointer-events: all;
      &-info {
        align-items: center;
        display: flex;
      }
    }
  }
}
