@blue-1: var(--ran-color-primary, #4096ff);
@green-1: var(--ran-color-success, #67cf22);
@gray-1: var(--ran-color-text, #333);

.ran-loading {
  .cube-grid {
    width: var(--loading-cube-grid-width, 4em);
    height: var(--loading-cube-grid-height, 4em);
    margin: var(--loading-cube-grid-margin, auto);
    @keyframes cube-grid {
      0%,
      70%,
      100% {
        transform: var(--loading-cube-grid-keyframes-0-transform, scale3D(1, 1, 1));
      }
      35% {
        transform: var(--loading-cube-grid-keyframes-35-transform, scale3D(0, 0, 1));
      }
    }
    &-item {
      width: var(--loading-cube-grid-item-width, 33%);
      height: var(--loading-cube-grid-item-height, 33%);
      background: var(--loading-cube-grid-item-background, #337ab7);
      float: var(--loading-cube-grid-item-float, left);
      animation: var(--loading-cube-grid-item-animation, cube-grid 1.3s infinite ease-in-out);
      animation-play-state: var(--loading-cube-grid-item-animation-play-state, running);
      &-1 {
        animation-delay: var(--loading-cube-grid-item-1-animation-delay, 0.2s);
      }
      &-2 {
        animation-delay: var(--loading-cube-grid-item-2-animation-delay, 0.3s);
      }
      &-3 {
        animation-delay: var(--loading-cube-grid-item-3-animation-delay, 0.4s);
      }
      &-4 {
        animation-delay: var(--loading-cube-grid-item-4-animation-delay, 0.1s);
      }
      &-5 {
        animation-delay: var(--loading-cube-grid-item-5-animation-delay, 0.2s);
      }
      &-6 {
        animation-delay: var(--loading-cube-grid-item-6-animation-delay, 0.3s);
      }
      &-7 {
        animation-delay: var(--loading-cube-grid-item-7-animation-delay, 0s);
      }
      &-8 {
        animation-delay: var(--loading-cube-grid-item-8-animation-delay, 0.1s);
      }
      &-9 {
        animation-delay: var(--loading-cube-grid-item-9-animation-delay, 0.2s);
      }
    }
  }
}
