:host {
  display: var(--ran-form-display, contents);
}

.ran-form {
  display: var(--ran-form-content-display, flex);
  flex-direction: var(--ran-form-flex-direction, column);
  align-items: var(--ran-form-align-items, stretch);
  gap: var(--ran-form-gap, 16px);
  box-sizing: border-box;
}
