.tab {
  ::slotted(r-tab) {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 10px;
    flex-shrink: 0;
    overflow: auto;
  }
  &-header {
    position: relative;
    overflow: hidden;
    scroll-behavior: smooth;
    &_nav {
      display: flex;
      flex-flow: row nowrap;
      justify-content: flex-start;
      align-items: center;
      &__item {
      }
    }
    &_line {
      position: absolute;
      width: 0;
      margin-top: -2px;
      height: 2px;
      border-radius: 2px;
      background: var(--themeColor, #1890ff);
      transition: 0.2s;
    }
  }
  &-content {
    overflow: hidden;
    &_wrap {
      display: flex;
      width: 100%;
      height: 100%;
      transition: 0.2s;
    }
  }
}
