@blue-1: var(--ran-color-primary, #4096ff);
@green-1: var(--ran-color-success, #67cf22);
@gray-1: var(--ran-color-text, #333);

.ran-loading {
  .line-scale {
    display: var(--loading-line-scale-display, block);
    position: var(--loading-line-scale-position, relative);
    overflow: var(--loading-line-scale-overflow, hidden);
    width: var(--loading-line-scale-width, 5em);
    margin: var(--loading-line-scale-margin, 30px auto);
    padding: var(--loading-line-scale-padding, 20px 10px);
    @keyframes pound {
      to {
        transform: var(--loading-line-scale-keyframes-to-transform, scale(1.2));
      }
    }
    &-item {
      display: var(--loading-line-scale-item-display, block);
      float: var(--loading-line-scale-item-float, left);
      width: var(--loading-line-scale-item-width, 0.5em);
      height: var(--loading-line-scale-item-height, 3em);
      margin: var(--loading-line-scale-item-margin, 0 0.5em 0 0);
      background: var(--loading-line-scale-item-background, #635863);
      background-image: var(--loading-line-scale-item-background-image, linear-gradient(top, #635863 25%, #3d353b));
      box-shadow: var(
        --loading-line-scale-item-box-shadow,
        1px 1px 1px 0 rgba(0, 0, 0, 0),
        1px 1px 1px 0 rgba(0, 0, 0, 0),
        1px 1px 1px 0 rgba(0, 0, 0, 0)
      );
      animation: var(--loading-line-scale-item-animation, pound 0.7s ease-in-out infinite alternate);
      animation-play-state: var(--loading-line-scale-item-animation-play-state, running);
      animation-delay: var(--loading-line-scale-item-animation-delay, 0.05s);
      transform-origin: var(--loading-line-scale-item-transform-origin, center bottom);
      &:nth-child(2) {
        animation-delay: var(--loading-line-scale-item--nth-child-2-animation-delay, 0.2s);
      }
      &:nth-child(3) {
        animation-delay: var(--loading-line-scale-item--nth-child-3-animation-delay, 0.35s);
      }
      &:nth-child(4) {
        animation-delay: var(--loading-line-scale-item--nth-child-4-animation-delay, 0.5s);
      }
      &:nth-child(5) {
        animation-delay: var(--loading-line-scale-item--nth-child-5-animation-delay, 0.65s);
      }
    }
  }
}
