@blue-1: var(--ran-color-primary, #4096ff);
@green-1: var(--ran-color-success, #67cf22);
@gray-1: var(--ran-color-text, #333);

.ran-loading {
  .double-bounce {
    width: var(--loading-double-bounce-width, 4em);
    height: var(--loading-double-bounce-height, 4em);
    position: var(--loading-double-bounce-height, relative);
    .double-bounce1 {
      width: var(--loading-double-bounce1-width, 100%);
      height: var(--loading-double-bounce1-height, 100%);
      border-radius: var(--loading-double-bounce1-border-radius, 50%);
      background: var(--loading-double-bounce1-background, @blue-1);
      opacity: var(--loading-double-bounce1-opacity, 0.6);
      position: var(--loading-double-bounce1-position, absolute);
      top: var(--loading-double-bounce1-top, 0);
      left: var(--loading-double-bounce1-left, 0);
      animation: var(--loading-double-bounce1-animation, ran-loading-bounce 2s infinite ease-in-out);
      animation-play-state: var(--loading-double-bounce1-animation-play-state, running);
    }
    .double-bounce2 {
      width: var(--loading-double-bounce2-width, 100%);
      height: var(--loading-double-bounce2-height, 100%);
      border-radius: var(--loading-double-bounce2-border-radius, 50%);
      background: var(--loading-double-bounce2-background, @blue-1);
      opacity: var(--loading-double-bounce2-opacity, 0.6);
      position: var(--loading-double-bounce2-position, absolute);
      top: var(--loading-double-bounce2-top, 0);
      left: var(--loading-double-bounce2-left, 0);
      animation: var(--loading-double-bounce2-animation, ran-loading-bounce 2s infinite ease-in-out);
      animation-delay: var(--loading-double-bounce2-animation-delay, -1s);
      animation-play-state: var(--loading-double-bounce2-animation-play-state, running);
    }
    @keyframes ran-loading-bounce {
      0%,
      100% {
        transform: var(--loading-double-bounce-keyframes-0, scale(0));
      }
      50% {
        transform: var(--loading-double-bounce-keyframes-50, scale(1));
      }
    }
  }
}
