@blue-1: var(--ran-color-primary, #4096ff);
@green-1: var(--ran-color-success, #67cf22);
@gray-1: var(--ran-color-text, #333);

.ran-loading {
  .dot-bar {
    margin: var(--loading-dot-bar-margin, 0 auto);
    overflow: var(--loading-dot-bar-overflow, hidden);
    width: var(--loading-dot-bar-width, 90px);
    @keyframes pulse {
      from {
        transform: var(--loading-dot-bar-keyframes-from-transform, scale(1.2));
        opacity: var(--loading-dot-bar-margin-from-opacity, 1);
      }
      to {
        transform: var(--loading-dot-bar-keyframes-to-transform, scale(0.7));
        opacity: var(--loading-dot-bar-keyframes-to-opacity, 0.1);
      }
    }
    &-item {
      background-color: var(--loading-dot-bar-item-background-color, #8aff51);
      background-image: var(--loading-dot-bar-item-background-image, linear-gradient(45deg, #8aff51 25%, #f1ffea));
      width: var(--loading-dot-bar-item-width, 10px);
      height: var(--loading-dot-bar-item-height, 10px);
      float: var(--loading-dot-bar-item-float, left);
      margin-left: var(--loading-dot-bar-item-margin-left, 5px);
      opacity: var(--loading-dot-bar-item-opacity, 0.1);
      animation: var(--loading-dot-bar-item-animation, pulse 1s linear infinite normal);
      animation-play-state: var(--loading-dot-bar-item-animation-play-state, running);
      animation-delay: var(--loading-dot-bar-item-animation-delay, 0);
      &-1 {
        animation-delay: var(--loading-dot-bar-item-1-animation-delay, 0.3s);
      }
      &-2 {
        animation-delay: var(--loading-dot-bar-item-2-animation-delay, 0.2s);
      }
      &-3 {
        animation-delay: var(--loading-dot-bar-item-3-animation-delay, 0.1s);
      }
      &-4 {
        animation-delay: var(--loading-dot-bar-item-4-animation-delay, 0.2s);
      }
      &-5 {
        animation-delay: var(--loading-dot-bar-item-5-animation-delay, 0.3s);
      }
    }
  }
}
