@font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji',
'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

@box-shadow:
  0 6px 16px 0 rgba(0, 0, 0, 0.08),
  0 3px 6px -4px rgba(0, 0, 0, 0.12),
  0 9px 28px 8px rgba(0, 0, 0, 0.05);

.remove-wap-active-focus {
  outline: 0;
  -webkit-tap-highlight-color: transparent;
  &:active,
  &:focus {
    outline: 0;
    -webkit-tap-highlight-color: transparent;
  }
}
