.ran-popover {
  box-sizing: border-box;
  position: relative;
  display: inline-block;
  margin: 0;
  padding: 0;
  &-content {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: rgba(0, 0, 0, 0.88);
    font-size: 14px;
    list-style: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif,
      'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    position: absolute;
    z-index: 1030;
    font-weight: normal;
    white-space: normal;
    text-align: start;
    cursor: auto;
    user-select: text;
    transform-origin: var(--ran-x, 50%) var(--ran-y, 50%);
    background: #fff;
    opacity: 0;
    transition: opacity 0.2s;
    cursor: pointer;
    &-inner {
      background-color: #fff;
      background-clip: padding-box;
      border-radius: 8px;
      box-shadow:
        0 6px 16px 0 rgba(0, 0, 0, 0.08),
        0 3px 6px -4px rgba(0, 0, 0, 0.12),
        0 9px 28px 8px rgba(0, 0, 0, 0.05);
      padding: 12px;
    }
    &-arrow {
      transform: translateX(-50%) translateY(100%) rotate(180deg);
      z-index: 1;
      display: block;
      pointer-events: none;
      width: 16px;
      height: 16px;
      overflow: hidden;
      position: absolute;
      &::before {
        position: absolute;
        bottom: 0;
        inset-inline-start: 0;
        width: 16px;
        height: 8px;
        background: #fff;
        clip-path: polygon(
          1.6568542494923806px 100%,
          50% 1.6568542494923806px,
          14.34314575050762px 100%,
          1.6568542494923806px 100%
        );
        clip-path: path(
          'M 0 8 A 4 4 0 0 0 2.82842712474619 6.82842712474619 L 6.585786437626905 3.0710678118654755 A 2 2 0 0 1 9.414213562373096 3.0710678118654755 L 13.17157287525381 6.82842712474619 A 4 4 0 0 0 16 8 Z'
        );
        content: '';
      }
      &::after {
        content: '';
        position: absolute;
        width: 8.970562748477143px;
        height: 8.970562748477143px;
        bottom: 0;
        inset-inline: 0;
        margin: auto;
        border-radius: 0 0 2px 0;
        transform: translateY(50%) rotate(-135deg);
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.05);
        z-index: 0;
        background: transparent;
      }
    }
  }
}
