// 主题色
$primary: #37a0ff;

$colorMap: (
  light: (
    neutral-10: #f5f6f6,
    neutral-20: #fafafa,
    neutral-30: #ffffff,
    neutral-40: #f5f6f6,
    neutral-50: #f5f6f6,
    neutral-60: #eaebec,
    neutral-70: #c7cacc,
    neutral-80: #afb3b6,
    neutral-90: #82888d,
    neutral-100: #464f56,
    neutral-11: #000000,
    neutral-12: #37a0ff,
    neutral-13: #ffffff,
    neutral-14: #f5f6f6,
    neutral-15: #1f2a32,
    neutral-16: #ffffff,
    neutral-17: #ffffff,
    neutral-18: #eaebec,
    cyan-5: #f2fbfa,
    cyan-10: #e5f8f4,
    cyan-11: #effaf8,
    cyan-20: #ccf1eb,
    cyan-30: #b2eae0,
    cyan-40: #99e3d7,
    cyan-50: #7fdccc,
    cyan-60: #66d5c2,
    cyan-70: #4cceb8,
    cyan-80: #33c7ae,
    cyan-90: #19c0a4,
    cyan-100: #00b99a,
    orange-5: #fff8f5,
    orange-10: #ffede5,
    orange-11: #fff4ef,
    orange-20: #ffdccc,
    orange-30: #ffcab2,
    orange-40: #ffb999,
    orange-50: #ffa77f,
    orange-60: #ff9666,
    orange-70: #ff844c,
    orange-80: #ff7333,
    orange-90: #ff6119,
    orange-100: #ff5000,
    gold-3: #fff6ea,
    gold-5: #fffaf3,
    gold-10: #fff6ea,
    gold-20: #fff1dd,
    gold-30: #ffeacb,
    gold-40: #ffe4ba,
    gold-50: #ffdda9,
    gold-60: #ffd698,
    gold-70: #ffcf86,
    gold-80: #ffc975,
    gold-90: #ffc164,
    gold-100: #ffbb53,
    pink-5: #fff7f7,
    pink-10: #ffefee,
    pink-20: #ffe0df,
    pink-30: #ffcfce,
    pink-40: #ffc0bf,
    pink-50: #ffb0ae,
    pink-60: #ffa19e,
    pink-70: #ff918e,
    pink-80: #ff817e,
    pink-90: #ff716e,
    pink-100: #ff625e,
    green-3: #e9faf3,
    green-5: #f3fdf9,
    green-10: #e9faf3,
    green-20: #d4f6e9,
    green-30: #bff1dd,
    green-40: #aaedd3,
    green-50: #94e9c7,
    green-60: #7fe5bc,
    green-70: #69e0b1,
    green-80: #55dca6,
    green-90: #3fd79b,
    green-100: #2ad390,
    blue-35: #b5d9fb,
    blue-5: #fbfdff,
    blue-10: #e2eefa,
    blue-20: #cde5fb,
    blue-30: #b5d9fb,
    blue-40: #a0d0fc,
    blue-50: #88c4fc,
    blue-60: #72bafd,
    blue-70: #5baffd,
    blue-80: #45a5fe,
    blue-90: #2e9afe,
    blue-100: #1890ff,
    blue-11: #1890ff,
    blue-12: #e2eefa,
    brand-5: #f5faff,
    brand-10: #ebf5ff,
    brand-20: #d7ecff,
    brand-30: #c3e2ff,
    brand-40: #afd9ff,
    brand-50: #9bcfff,
    brand-60: #87c6ff,
    brand-70: #73bcff,
    brand-80: #5fb3ff,
    brand-90: #4ba9ff,
    brand-100: #37a0ff,
    sky-blue-3: #e9f8fd,
    sky-blue-5: #f2fcfe,
    sky-blue-10: #e9f8fd,
    sky-blue-20: #d4f3fb,
    sky-blue-30: #beecf9,
    sky-blue-40: #a9e7f8,
    sky-blue-50: #93e0f6,
    sky-blue-60: #7edaf4,
    sky-blue-70: #68d4f2,
    sky-blue-80: #53cef1,
    sky-blue-90: #3dc8ee,
    sky-blue-100: #28c2ed,
    geek-blue-5: #f6f8ff,
    geek-blue-10: #ecf2ff,
    geek-blue-20: #dae6ff,
    geek-blue-30: #c7d9ff,
    geek-blue-40: #b5cdff,
    geek-blue-50: #a3c0ff,
    geek-blue-60: #91b3ff,
    geek-blue-70: #7ea6ff,
    geek-blue-80: #6c9aff,
    geek-blue-90: #598dff,
    geek-blue-100: #4781ff,
    peach-pink-5: #fff7fb,
    peach-pink-10: #fef0f8,
    peach-pink-20: #fee2f2,
    peach-pink-30: #fed3ea,
    peach-pink-40: #fec5e4,
    peach-pink-50: #fdb6dd,
    peach-pink-60: #fda8d7,
    peach-pink-70: #fc99d0,
    peach-pink-80: #fd8bc9,
    peach-pink-90: #fc7cc2,
    peach-pink-100: #fc6ebc,
    blue-black-10: #e9ebee,
    blue-black-15: #dee1e5,
    blue-black-25: #c9ced4,
    blue-black-40: #a8afb9,
    blue-black-55: #88929f,
    blue-black-70: #677484,
    blue-black-85: #47576a,
    blue-black-100: #253950,
    purple-5: #fef8ff,
    purple-10: #fbeeff,
    purple-20: #f7deff,
    purple-30: #f3ccff,
    purple-40: #efbcff,
    purple-50: #ebabff,
    purple-60: #e79bff,
    purple-70: #e38aff,
    purple-80: #df7aff,
    purple-90: #db68ff,
    purple-100: #d858ff,
    pink-venus-5: #fff6f8,
    pink-venus-10: #ffa3bf,
    pink-venus-20: #ff477f,
    blue-purple-5: #f2eeff,
    blue-purple-50: #bfadff,
    blue-purple-100: #7f5cff,
    tip-5: #8ed59e,
    tip-10: #1eac3e,
    tip-15: #c9df91,
    tip-20: #95c123,
    tip-25: #ffe37f,
    tip-30: #ffc700,
    tip-35: #ffc895,
    tip-40: #ff922d,
    tip-45: #ff9f9f,
    tip-50: #ff4040,
    tip-55: #ef8292,
    tip-60: #e00626,
    bg_color: var(--bg_color),
    front_bg_color2: var(--front_bg_color_2),
    front_bg_color1: var(--front_bg_color_1),
    front_bg_color: var(--front_bg_color),
    tag_bg_color: var(--tag_bg_color),
    line_color: var(--line_color),
    tag_border_color: var(--tag_border_color),
    text_color_3: var(--text_color_3),
    text_color_2: var(--text_color_2),
    text_color_1_supplement: var(--text_color_1_supplement),
    text_color_1: var(--text_color_1),
    link_text_color: var(--link_text_color),
    environment_text_color_3: var(--environment_text_color_3),
    environment_text_color_2: var(--environment_text_color_2),
    environment_text_color_1: var(--environment_text_color_1),
    brand_color: var(--brand_color),
    brand_color_2: var(--brand_color_2),
    brand_color_3: var(--brand_color_3),
    up_color: var(--up_color),
    down_color: var(--down_color),
    list_bg_color: var(--list_bg_color),
  ),
  dark: (
    neutral-10: #07121c,
    neutral-20: #141f28,
    neutral-30: #1a252e,
    neutral-40: #2a343c,
    neutral-50: #2a343c,
    neutral-60: #384149,
    neutral-70: #424b53,
    neutral-80: #61686e,
    neutral-90: #82888d,
    neutral-100: #cfd1d3,
    neutral-11: #ffffff,
    neutral-12: #37a0ff,
    neutral-13: #ffffff,
    neutral-14: #f5f6f6,
    neutral-15: #1f2a32,
    neutral-16: #61686e,
    neutral-17: #2a343c,
    neutral-18: #2a343c,
    cyan-5: #293838,
    cyan-10: #273f3c,
    cyan-11: #598583,
    cyan-20: #144243,
    cyan-30: #12514e,
    cyan-40: #0f6059,
    cyan-50: #0c6f63,
    cyan-60: #0a7d6e,
    cyan-70: #078d79,
    cyan-80: #059b84,
    cyan-90: #02aa8f,
    cyan-100: #00b99a,
    orange-5: #27272b,
    orange-10: #312929,
    orange-11: #7e6c66,
    orange-20: #472d24,
    orange-30: #5f3120,
    orange-40: #75361b,
    orange-50: #8c3a16,
    orange-60: #a33e12,
    orange-70: #ba430d,
    orange-80: #d14709,
    orange-90: #e84b04,
    orange-100: #ff5000,
    gold-3: #272d30,
    gold-5: #272d30,
    gold-10: #313431,
    gold-20: #474235,
    gold-30: #5f5139,
    gold-40: #75613c,
    gold-50: #8c7040,
    gold-60: #a37e44,
    gold-70: #ba8e47,
    gold-80: #d19d4b,
    gold-90: #e8ab4f,
    gold-100: #ffbb53,
    pink-5: #2a2931,
    pink-10: #312b32,
    pink-20: #473137,
    pink-30: #5f363c,
    pink-40: #753d41,
    pink-50: #8c4345,
    pink-60: #a3494a,
    pink-70: #ba504f,
    pink-80: #d15554,
    pink-90: #e85b59,
    pink-100: #ff625e,
    green-3: #1b2f34,
    green-5: #1b2f34,
    green-10: #1b3637,
    green-20: #1c4741,
    green-30: #1f584b,
    green-40: #206a55,
    green-50: #217c5e,
    green-60: #238d68,
    green-70: #249f72,
    green-80: #27b07c,
    green-90: #28c186,
    green-100: #2ad390,
    blue-35: #154979,
    blue-5: #192d3d,
    blue-10: #172733,
    blue-20: #153451,
    blue-30: #143e64,
    blue-40: #154979,
    blue-50: #15548d,
    blue-60: #165fa2,
    blue-70: #156ab5,
    blue-80: #1674ca,
    blue-90: #167fde,
    blue-100: #178af3,
    blue-11: #e2eefa,
    blue-12: #153451,
    brand-5: #1b2b38,
    brand-10: #1d3143,
    brand-20: #1f3d57,
    brand-30: #23496d,
    brand-40: #255681,
    brand-50: #286296,
    brand-60: #2b6eab,
    brand-70: #2e7bc0,
    brand-80: #3187d5,
    brand-90: #3493ea,
    brand-100: #37a0ff,
    sky-blue-3: #1a2d37,
    sky-blue-5: #1a2d37,
    sky-blue-10: #1b3441,
    sky-blue-20: #1c4453,
    sky-blue-30: #1e5367,
    sky-blue-40: #1f647a,
    sky-blue-50: #20738d,
    sky-blue-60: #2282a0,
    sky-blue-70: #2393b3,
    sky-blue-80: #25a2c7,
    sky-blue-90: #26b2d9,
    sky-blue-100: #28c2ed,
    geek-blue-5: #1c2938,
    geek-blue-10: #1e2e43,
    geek-blue-20: #223757,
    geek-blue-30: #27406d,
    geek-blue-40: #2b4a81,
    geek-blue-50: #305396,
    geek-blue-60: #355bab,
    geek-blue-70: #3965c0,
    geek-blue-80: #3e6ed5,
    geek-blue-90: #4277ea,
    geek-blue-100: #4781ff,
    peach-pink-5: #272936,
    peach-pink-10: #302c3c,
    peach-pink-20: #46334a,
    peach-pink-30: #5e3a58,
    peach-pink-40: #744266,
    peach-pink-50: #8a4974,
    peach-pink-60: #a15083,
    peach-pink-70: #b75891,
    peach-pink-80: #cf5f9f,
    peach-pink-90: #e566ad,
    peach-pink-100: #fc6ebc,
    blue-black-10: #1c2732,
    blue-black-15: #25303b,
    blue-black-25: #3a4451,
    blue-black-40: #586370,
    blue-black-55: #6d7785,
    blue-black-70: #959faf,
    blue-black-85: #b4bece,
    blue-black-100: #e9ebee,
    purple-5: #232738,
    purple-10: #2d2a43,
    purple-20: #3f2f57,
    purple-30: #53336d,
    purple-40: #653981,
    purple-50: #783e96,
    purple-60: #8b43ab,
    purple-70: #9e49c0,
    purple-80: #b14ed5,
    purple-90: #c452ea,
    purple-100: #d858ff,
    pink-venus-5: #272633,
    pink-venus-10: #8c3656,
    pink-venus-20: #ff477f,
    blue-purple-5: #131933,
    blue-purple-50: #43368d,
    blue-purple-100: #7f5cff,
    tip-5: #1b6835,
    tip-10: #1eac3e,
    tip-15: #567228,
    tip-20: #95c123,
    tip-25: #8c7517,
    tip-30: #ffc700,
    tip-35: #8c5b2c,
    tip-40: #ff922d,
    tip-45: #8c3237,
    tip-50: #ff4040,
    tip-55: #7c1529,
    tip-60: #e00626,
    bg_color: var(--bg_color),
    front_bg_color2: var(--front_bg_color_2),
    front_bg_color1: var(--front_bg_color_1),
    front_bg_color: var(--front_bg_color),
    tag_bg_color: var(--tag_bg_color),
    line_color: var(--line_color),
    tag_border_color: var(--tag_border_color),
    text_color_3: var(--text_color_3),
    text_color_2: var(--text_color_2),
    text_color_1_supplement: var(--text_color_1_supplement),
    text_color_1: var(--text_color_1),
    link_text_color: var(--link_text_color),
    environment_text_color_3: var(--environment_text_color_3),
    environment_text_color_2: var(--environment_text_color_2),
    environment_text_color_1: var(--environment_text_color_1),
    brand_color: var(--brand_color),
    brand_color_2: var(--brand_color_2),
    brand_color_3: var(--brand_color_3),
    up_color: var(--up_color),
    down_color: var(--down_color),
    list_bg_color: var(--list_bg_color),
  ),
);

$lbthemes: (
  light: map-get($colorMap, 'light'),
  dark: map-get($colorMap, 'dark'),
);

@mixin themify($themes) {
  @each $theme, $map in $themes {
    .theme-#{$theme} & {
      $theme-map: () !global;
      @each $key, $submap in $map {
        $value: map-get(map-get($themes, $theme), '#{$key}');
        $theme-map: map-merge(
          $theme-map,
          (
            $key: $value,
          )
        ) !global;
      }
      @content;
      $theme-map: null !global;
    }
  }
}

@function themed($key) {
  @if map-has-key($theme-map, $key) {
    @return map-get($theme-map, $key);
  }
  @error 'not found' $key 'in theme-map';
  @return false;
}

// 食用栗子：
// position: fixed;
// bottom: 0px;
// left: 0px;
// padding: 0px px2rem(20) px2rem(36) px2rem(20);
// @include themify($lbthemes) {
//   background-color: themed('neutral-30');
// }
// height: px2rem(90);
